.loginContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .CardLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 30rem;
    border-style: hidden;
    border-radius: 20px;
    border: solid 1px black;
        input{
            width: 20rem;
            margin-bottom: 1rem;
            border-radius: 10px;
        }
        button{
            background-color: #333;
            color: #fff;
            width: 7rem;
            border-radius: 10px;
        }
     }
    
}

@media (max-width: 480px) {
    .CardLogin{
        width: 20rem !important;
        input{
            width: 16rem !important;
        }
    }
  }